.form-page {
  display: flex;
  margin: auto;
  justify-content: center;   
  align-items: center;       
  min-height: calc(100vh - 64px); 
  width: 210vh; 
}

.init-form {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 16px;
  width: 320px;              
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.form-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}
