:host {
  width: 100%;
}

.page-title {
  font-weight: 300;
  font-size: 60px;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
  line-height: 1;
}

.init-form {
  width: 320px;
  display: grid;
  gap: 16px;
  margin: 0 auto;
}

button {
  margin-top: 8px;
}

.form-info {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: gray;
  text-align: center;
}
