<div class="form-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="init-form">

    <h2 class="form-title">PRI Coordinator Initialization</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>LDAP Login</mat-label>
      <input matInput formControlName="indexNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Initialize Coordinator
    </button>
  </form>
</div>
