<h1 mat-dialog-title>Remove project</h1>

<div mat-dialog-content>
  <p>
    Are you sure you want to remove the project:
    <strong>{{ data.projectName }}</strong>?
    It will remove this project forever, it's a very very long time.
    📢 Warning!: Deleting projects that are assigned to defense is not allowed! 
  </p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="warn"
    [mat-dialog-close]="true"
    cdkFocusInitial>
    Remove
  </button>
</div>
