<div class="root" [class.is-mobile]="mobileQuery?.matches">
  <mat-toolbar color="primary">
    <div>
      <button *ngIf="isLogged" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h4 class="app-name translate" data-translate="app_name">{{ appName }}</h4>
    </div>
    
  <span class="spacer"></span>
  <app-role-switcher></app-role-switcher>

    <div class="lang-switcher">
    <img
      src="./assets/flag_pl.png"
      alt="Polski"
      title="Polski"
      (click)="changeLanguage('pl')"
      [ngClass]="{ 'lang-selected': language === 'pl' }"
    />
    <img
      src="./assets/flag_us.png"
      alt="English"
      title="English"
      (click)="changeLanguage('en')"
      [ngClass]="{ 'lang-selected': language === 'en' }"
    />
  </div>

    <div class="user-panel" *ngIf="isLogged">
      <mat-form-field *ngIf="availableStudyYears.length > 1">
        <mat-label class="translate" data-translate="study_year_label">Study year</mat-label>
        <mat-select (selectionChange)="studyYearChanged($event)" [(ngModel)]="studyYear">
          <mat-option *ngFor="let year of availableStudyYears" [value]="year.value">{{ year.text }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="user-data">
        <p>{{user.name}}</p>
        <p>{{user.indexNumber}} | {{role}}</p>
      </div>
      <button class="user-icon" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()" mat-icon-button>
          <span class="translate" data-translate="logout">Log out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="mobileQuery?.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery?.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="navigateTo('projects')" class="translate" data-translate="project_groups">
          <span class="translate-text">Project groups</span>
        </a>
        <a *ngIf="isCoordinator" mat-list-item (click)="navigateTo('data-feed')" class="translate" data-translate="data_feed">
          <span class="translate-text">Data feed</span>
        </a>
        <a mat-list-item (click)="navigateTo('marketplace')" class="translate" data-translate="project_marketplace">
          <span class="translate-text">Project marketplace</span>
        </a>
        <a mat-list-item (click)="navigateTo('defense-schedule')" class="translate" data-translate="defense_schedule">
          <span class="translate-text">Defense schedule</span>
        </a>
        <a *ngIf="isCoordinator" mat-list-item (click)="navigateTo('statistics')" class="translate" data-translate="statistics">
          <span class="translate-text">Statistics</span>
        </a>
        <a *ngIf="isCoordinator || isSupervisor " mat-list-item (click)="navigateTo('student-info')" class="translate" data-translate="student_information">
          <span class="translate-text">Student Information</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div [class.hidden]="isModalOpen" class="content-container">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="isModalOpen" class="modal-content-container">
        <router-outlet name="modal"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
