.role-switcher-wrapper {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #64b5f6;
}

.role-switcher {
  width: 180px;
}

.role-switcher .mat-form-field-label {
  color: rgba(255, 255, 255, 0.85);
}

.role-switcher .mat-select-value {
  color: #fff;
  font-weight: 500;
}

/* strzałka */
.role-switcher .mat-select-arrow {
  color: #fff;
}

/* underline / fill background */
.role-switcher .mat-form-field-flex {
  background-color: #64b5f6;
}
.role-switcher .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #64b5f6;
}
