<div>
    <div class="title-and-add-project-button">
        <h1 class="translate" data-translate="project_groups">Project groups</h1>
        <div>
            <button mat-button [matMenuTriggerFor]="supervisorAvailability" class="translate" data-translate="supervisor_availability">Supervisor availability</button>
            <button *ngIf="showEditOrAddProjectButton"  
                    (click)="!areCriteriaLoaded ? null : openProjectForm()" 
                    mat-raised-button 
                    color="primary"
                    [class.saturated-zero]="!areCriteriaLoaded"
                    [disabled]="!areCriteriaLoaded"
                    [attr.disabled]="!areCriteriaLoaded ? true : null"
                    class="translate"
                    [attr.data-translate]="projectButtonText === 'Add project' ? 'add_project' : 'edit_project'"
                    [matTooltip]="!areCriteriaLoaded ? (app.translations['tooltip_upload_criteria'] || 'Please upload criteria first') : ''">
                {{ projectButtonText }}
            </button>
            <button *ngIf="showPublishAllButton" (click)="openAreYouSureDialog('publish')" mat-raised-button color="primary" class="translate" data-translate="publish_all">
                Publish all
            </button>
            <button *ngIf="showActivateSecondSemesterButton" (click)="openAreYouSureDialog('activateSecondSemester')" mat-raised-button color="primary" class="translate" data-translate="activate_second_semester">
                Activate second semester
            </button>
            <mat-menu xPosition="before" #supervisorAvailability="matMenu">
                <div class="supervisor-availability-menu" >
                    <supervisor-availability-list/>
                    <button [class.hidden]="!isCoordinator" (click)="openSupervisorAvailabilityForm()" mat-raised-button color="primary" class="translate" data-translate="edit_availability">
                        Edit availability
                    </button>
                </div>
            </mat-menu>
        </div>
       
    </div>
    <div class="project-list-container">
        <project-list 
            [assignedProjects]="assignedProjects"
            [acceptedProjects]="acceptedProjects" 
        />
    </div>
</div>