:host {
    display: block;
    width: 100%;
}

.title-and-add-project-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
        margin: 0;
    }

    div {
        display: flex;
        column-gap: 20px;
    }
}


mat-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50px);
}

.supervisor-availability-menu {
    display: grid;
    padding: 15px;
    button {
        margin: 0px 20px 20px 20px;
    }
}


.hidden {
    opacity: 0;
    cursor: default;
}

.project-filters-container {
    display: flex;
    align-items: center;
}

@media (max-width: 1300px) {
    .tables {
        flex-wrap: wrap;

        div {
            flex: 100%;
        }
    }
}

.title-and-add-project-button {
  button.saturated-zero {
    filter: saturate(0) !important;
    opacity: 0.6 !important;
    cursor: not-allowed !important;
    
    // Dodatkowe style dla Angular Material
    pointer-events: none !important;
  }
  
  // Alternatywnie - style dla disabled button
  button[disabled] {
    filter: saturate(0) !important;
    opacity: 0.6 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}