/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #fafafa;
}

button[mat-icon-button] {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 35px;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  .mat-mdc-snack-bar-action {
    color: white !important;
    --mdc-text-button-label-text-color: white;
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: #e8f5e9;
  .mat-mdc-snack-bar-action {
    color: white !important;
    --mdc-text-button-label-text-color: white;
  }
}

.error-snackbar .mat-mdc-button-touch-target, .success-snackbar .mat-mdc-button-touch-target {
    color: white;
}

/* Global styles for centered dialogs */
.cdk-global-overlay-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/* Role switcher custom background */
.role-switcher .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #6575d8 !important;
}

.role-switcher .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.role-switcher .mdc-text-field--filled:not(.mdc-text-field--disabled) input,
.role-switcher .mdc-text-field--filled:not(.mdc-text-field--disabled) .mat-mdc-select-value {
  color: white !important;
}
