<h2 mat-dialog-title>⚠️ Critical Operation</h2>
<mat-dialog-content>
  <p>
    This is a <strong>critical operation</strong>.<br>
    This operation will reset the database, all tables would be deleted and recreated, after that all coordinators would be re-added. 
    <br>
    This action will delete <strong>all</strong> data except coordinators from database <strong>forever</strong>, that's realy realy long, are you sure you want to do this ??<br><br>
    <strong>Are you sure you want to proceed?</strong>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>
